<section class="page">
  <header class="header">
    <div>
      <h1>Calendar</h1>
      <p>Deadlines and interviews (highlighted when upcoming).</p>
    </div>

    <div class="nav">
      <button type="button" (click)="prevMonth()">Prev</button>
      <div class="label">{{ monthLabel() }}</div>
      <button type="button" (click)="nextMonth()">Next</button>

      <div class="jump">
        <label class="jump-label" for="jumpDate">Jump to date</label>
        <input
          id="jumpDate"
          class="jump-input"
          type="date"
          [value]="selectedDate()"
          (change)="jumpToDate(($any($event.target)).value)"
        />
      </div>
    </div>
  </header>

  <div class="weekdays">
    <div>Mon</div>
    <div>Tue</div>
    <div>Wed</div>
    <div>Thu</div>
    <div>Fri</div>
    <div>Sat</div>
    <div>Sun</div>
  </div>

  <ng-container *ngIf="events$ | async as events">
    <div class="grid">
      <div
        class="cell"
        *ngFor="let d of days()"
        [class.outside]="!d.inMonth"
        [class.selected]="d.date === selectedDate()"
        [ngClass]="[cellHighlightClass(d.date, events[d.date])]"
      >
        <div class="date">{{ d.date }}</div>

        <div class="events" *ngIf="events[d.date]?.length">
          <div
            *ngFor="let e of events[d.date]"
            [ngClass]="['event', upcomingClass(e)]"
          >
            <span class="type">{{ e.type }}</span>
            <span class="title">{{ e.title }}</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</section>
